@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}
.logo{
    width: 6rem;
}
.headercontainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.hcontainer{
    display: flex;
    align-items: center;
}
h1{
    margin-left: 2rem;
    font-size: 3rem;
}
div a{
    font-size: 2rem;
    color: inherit;
}